<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.friendlyapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Friendlyapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FriendlyApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".chat_activity"></activity>
        <activity android:name=".AddUser" />
        <activity android:name=".shape_designe" />
        <activity
            android:name=".OtpVerify"
            android:label="@string/title_activity_otp_verify"
            android:theme="@style/Theme.FriendlyApp.NoActionBar" />
        <activity android:name=".otpSend">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivity2" />
    </application>

</manifest>